# Configuración MariaDB (Backend Store)
MYSQL_ROOT_PASSWORD=root_secret
MYSQL_DATABASE=mlflow_db
MYSQL_USER=mlflow_user
MYSQL_PASSWORD=mlflow_password

# Configuración MinIO (Artifact Store S3)
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_secret
MLFLOW_BUCKET_NAME=mlflow

# Configuración Redis (Cola de Jobs)
REDIS_PORT=6379